<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- add bootstrap cdn <link rel="stylesheet" href="http://cdn.jsdelivr"> -->
    <link rel="stylesheet" href="styles/styles.css">
    <title>Diner App</title>
</head>
<body>
    <div class="container">
        <h1>Sneeds Feed & Seed</h1>
        <h2>formally Chucks</h2>
    </div>
</body>
</html>