<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- add bootstrap cdn <link rel="stylesheet" href="http://cdn.jsdelivr"> -->
    <link rel="stylesheet" href="styles/styles.css">
    <title>Diner App</title>
</head>
<body>
    <div class="container">
        <h1>Bò Hạnh phúc</h1>
        <h2>Phở and Grill</h2>
        <h3>View Menus</h3>
        <a href="menu/breakfast">Breakfast</a>
        <a href="menu/lunch">Lunch</a>
        <a href="menu/dinner">Diner</a>
        <button type="button" class="btn tbn-primary" href="menus/order1">Place an Order</button>
        <br>
        <img src="images/PhoImg.jpg" alt="Image of Pho">
    </div>
</body>
</html>